.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 1rem;
    z-index: 1;
    transition: all 0.5s;

}
.netimg{
    height: 4.5rem;
    object-fit: contain;
}
.nav__black{
    background-color: #111;
}