@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&family=Teko&family=Ubuntu:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  display: none;
}
.App{
  background-color: #111;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}
.row{
  margin-top: 0.3rem;
}
.row_title{
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
}
.row_posters{
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  height: fit-content;
}
.row_posters::-webkit-scrollbar{
  display: none;
}
.row_posters img{
  width: 100%;
  max-height: 150px;
  margin: 7px;
  transition: ease 450ms;
  cursor: pointer;
}
.row_posters img:hover{
  transform: scale(1.1);
}
.row_posterLarge{
  max-height: 250px;
}

.trailerVideo{
  margin-left: 30%;
}